@import './variables/_variables.scss';

button {
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    box-shadow: 3px 3px 6px $grey-100;
  }

  &.orange {
    background: $orange-400;
    color: #fff;

    &:hover {
      background: $orange-500;
    }

    &-outline {
      background: #fff;
      color: $orange-400;
      border: 2px solid $orange-400;

      &:hover {
        background: $orange-400;
        color: #fff;
      }
    }
  }

  &.blue {
    background: $blue-400;
    color: #fff;

    &:hover {
      background: $blue-300;
    }

    &-outline {
      background: #fff;
      color: $blue-400;
      border: 1px solid $blue-400;

      &:hover {
        background: $blue-400;
        color: #fff;
      }
    }
  }

  &.grey {
    background: $grey-200;
    color: #fff;

    &:hover {
      background: $grey-300;
    }
  }

  &.dark {
    background: $grey-500;
    color: #fff;

    &:hover {
      background: $grey-400;
    }
  }

  &:disabled {
    background: $grey-200;
    border: $grey-200;
    color: #fff;
    cursor: not-allowed;

    &:hover {
      background: $grey-200;
      border: $grey-200;
      color: #fff;
    }
  }
}
