$orange-100: #ffe0c9;
$orange-200: #ffc189;
$orange-300: #ffa379;
$orange-400: #f7814b;
$orange-500: #ff5608;

$blue-100: #c6eafa;
$blue-200: #7fbdd6;
$blue-300: #2e86ab;
$blue-400: #1a4474;
$blue-500: #0c1f35;

$grey-100: #e5edf7;
$grey-200: #aab3bd;
$grey-300: #727a84;
$grey-400: #464c53;
$grey-500: #1a1d21;
