@import './variables/variables.scss';
@import './button.scss';
@import './input.scss';

*,
body {
  font-family: $rubik;
  box-sizing: border-box;
}

a {
  color: $blue-300;
}

h1 {
  color: $orange-400;
  font-family: $marker !important;
  font-size: 24px !important;
}

p {
  font-family: $rubik;
}
